notifications:
  irc:
    channels: "chat.freenode.net#firedrake"
    skip_join: true
    on_success: change
    on_failure: always
    template: "%{repository}#%{build_number} (%{branch} - %{commit} : %{author}): %{message} | %{build_url}"

language: python
python:
  - "2.7"

install:
  - pip install -r requirements.txt
  - pip install flake8
  - python setup.py install

script:
  - flake8 .
  - python -c "import tsfc; print tsfc.__file__"
