git+https://github.com/coneoproject/COFFEE#egg=COFFEE
git+https://github.com/firedrakeproject/ufl.git@trace-element-fix#egg=ufl
git+https://github.com/firedrakeproject/fiat.git@hdiv-trace-implementation#egg=fiat
