git+https://github.com/firedrakeproject/ufl.git#egg=fenics-ufl
git+https://github.com/firedrakeproject/fiat.git@pbrubeck/simplify-lagrange
git+https://github.com/FInAT/FInAT.git@pbrubeck/fix/point-evaluation
git+https://github.com/firedrakeproject/loopy.git#egg=loopy
