name: Build and test

on:
  # Run on pushes to master
  push:
    branches:
      - master
  # And all pull requests
  pull_request:


jobs:
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python_version: ['3.7', '3.8', '3.9', '3.10']
    steps:
      - uses: actions/checkout@v2
      - name: Setup python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python_version }}
      - name: Install dependencies
        run: |
          python -m pip install -r requirements.txt
          pip install flake8 pytest
      - name: Lint
        run: |
          flake8 .
      - name: Install
        run: |
          python -m pip install .
      - name: Test
        run: |
          pytest tests
